@import 'tailwindcss';
@plugin 'tailwind-scrollbar';
@import '../lib/css/tw-animate-css.css';


@custom-variant dark (&:is(.dark *));
@theme {
  /* --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */

  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --font-mono:
    var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Consolas, Liberation Mono, monospace;

  --text-base: var(--text-base);
  --text-sm: calc(var(--text-base) * 0.875);
  --text-xs: calc(var(--text-base) * 0.75);
  --text-md: calc(var(--text-base) * 1.2);
  --text-lg: calc(var(--text-base) * 1.35);
  --text-xl: calc(var(--text-base) * 1.75);
  --text-2xl: calc(var(--text-base) * 2);
  --text-3xl: calc(var(--text-base) * 2.5);
  --text-4xl: calc(var(--text-base) * 3);
  --text-5xl: calc(var(--text-base) * 3.5);
  --text-6xl: calc(var(--text-base) * 4);
  --text-7xl: calc(var(--text-base) * 4.5);

  /* --font-weight-normal: 400; */
  --font-weight-medium: 600;
  /* --font-weight-semibold: 600; */
  /* --font-weight-bold: 700; */

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius: var(--radius);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-accordion-down: accordion-down 0.15s;
  --animate-accordion-up: accordion-up 0.15s;
  --animate-caret-blink: caret-blink 1s ease-out infinite;


  @keyframes accordion-down {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
      opacity: 0;
    }
  }
}

:root {
  /* --radius: 0.625rem; */
  --radius: 0.25rem;
  --text-base: 1rem;

  /* --background: hsl(0, 0%, 100%); */
  --background: hsl(254, 100%, 98.5%);

  /* --foreground: hsl(0, 0%, 14.5%); */
  --foreground: hsl(254, 20%, 31%);

  /* --card: hsl(0, 0%, 100%); */
  --card: hsl(254, 100%, 99.5%);
  /* --card-foreground: hsl(0, 0%, 14.5%); */
  --card-foreground: hsl(254, 20%, 31%);

  /* --popover: hsl(0, 0%, 100%); */
  --popover: hsl(254, 100%, 98.5%);
  /* --popover-foreground: hsl(0, 0%, 14.5%); */
  --popover-foreground: hsl(254, 20%, 31%);

  /* --primary: hsl(0, 0%, 20.5%); */
  --primary: hsl(254, 44%, 35%);
  /* --primary-foreground: hsl(0, 0%, 98.5%); */
  --primary-foreground: hsl(254, 20%, 98.5%);

  /* --secondary: hsl(0, 0%, 97%); */
  --secondary: hsl(254, 50%, 96.3%);
  /*  --secondary-foreground: hsl(0, 0%, 20.5%); */
  --secondary-foreground: hsl(254, 20%, 35%);

  /* --muted: hsl(0, 0%, 97%); */
  --muted: hsl(254, 50%, 93.3%);
  /* --muted-foreground: hsl(0, 0%, 55.6%); */
  --muted-foreground: hsl(254, 17%, 65.1%);

  /* --accent: hsl(0, 0%, 97%); */
  --accent: hsl(254, 50%, 97.3%);
  /* --accent-foreground: hsl(0, 0%, 20.5%); */
  --accent-foreground: hsl(254, 47%, 17%);

  /* --destructive: hsl(27, 65%, 45%); */
  --destructive: hsl(0, 70%, 58%);
  /* --destructive-foreground: hsl(27, 65%, 45%); */
  --destructive-foreground: hsl(0, 0%, 98%);

  /* --border: hsl(0, 0%, 92.2%); */
  --border: hsl(254, 40%, 88.2%);

  /* --input: hsl(0, 0%, 92.2%); */
  --input: hsl(254, 40%, 88.2%);

  /* --ring: hsl(0, 0%, 70.8%); */
  --ring: hsl(254, 17%, 62.1%);

  --overlay: hsla(254, 50%, 2.5%, 0.65);

  /* --chart-1: hsl(41, 70%, 50%);
  --chart-1: hsl(41, 70%, 50%);
  --chart-2: hsl(185, 65%, 40%);
  --chart-3: hsl(227, 40%, 30%);
  --chart-4: hsl(84, 60%, 60%);
  --chart-5: hsl(70, 60%, 55%);
  --sidebar: hsl(0, 0%, 98.5%);
  --sidebar-foreground: hsl(0, 0%, 14.5%);
  --sidebar-primary: hsl(0, 0%, 20.5%);
  --sidebar-primary-foreground: hsl(0, 0%, 98.5%);
  --sidebar-accent: hsl(0, 0%, 97%);
  --sidebar-accent-foreground: hsl(0, 0%, 20.5%);
  --sidebar-border: hsl(0, 0%, 92.2%);
  --sidebar-ring: hsl(0, 0%, 70.8%); */
}

.dark {
  /* --background: 0 0% 3.9%; */
  --background: hsl(254, 32.5%, 3.9%);

  /* --foreground: 0 0% 98%; */
  --foreground: hsl(254, 20%, 91%);

  /* --card: 0 0% 3.9%; */
  --card: hsl(254, 25.5%, 5.9%);
  /* --card-foreground: 0 0% 98%; */
  --card-foreground: hsl(254, 20%, 91%);

  /* --popover: 0 0% 3.9%; */
  --popover: hsl(254, 32.5%, 3.9%);
  /* --popover-foreground: 0 0% 98%; */
  --popover-foreground: hsl(254, 50%, 91%);

  /* --primary: 0 0% 98%; */
  --primary: hsl(254, 100%, 91%);
  /* --primary-foreground: 0 0% 9%; */
  --primary-foreground: hsl(254, 20%, 3.5%);

  /* --secondary: 0 0% 14.9%; */
  --secondary: hsl(254, 30%, 6.3%);
  /* --secondary-foreground: 0 0% 98%; */
  --secondary-foreground: hsl(254, 50%, 91%);

  /* --muted: 0 0% 14.9%; */
  --muted: hsl(254, 25%, 14.3%);
  /* --muted-foreground: 0 0% 63.9%; */
  --muted-foreground: hsl(254, 17%, 40.3%);

  /* --accent: 0 0% 14.9%; */
  --accent: hsl(254, 33%, 4.3%);
  /* --accent-foreground: 0 0% 98%; */
  --accent-foreground: hsl(254, 50%, 91%);

  /* --destructive: 0 62.8% 30.6%; */
  --destructive: hsl(0, 62.8%, 30.6%);
  /* --destructive-foreground: 0 0% 98%; */
  --destructive-foreground: hsl(254, 50%, 91%);

  /* --border: 0 0% 14.9%; */
  --border: hsl(254, 20.2%, 13.2%);

  /* --input: 0 0% 14.9%; */
  --input: hsl(254, 20.2%, 13.2%);

  /* --ring: 0 0% 83.1%; */
  --ring: hsl(0, 0%, 83.1%);

  /* --chart-1: hsl(264, 70%, 40%);
  --chart-2: hsl(162, 50%, 45%);
  --chart-3: hsl(70, 60%, 55%);
  --chart-4: hsl(304, 75%, 45%);
  --chart-5: hsl(16, 70%, 45%);
  --sidebar: hsl(0, 0%, 20.5%);
  --sidebar-foreground: hsl(0, 0%, 98.5%);
  --sidebar-primary: hsl(264, 70%, 40%);
  --sidebar-primary-foreground: hsl(0, 0%, 98.5%);
  --sidebar-accent: hsl(0, 0%, 26.9%);
  --sidebar-accent-foreground: hsl(0, 0%, 98.5%);
  --sidebar-border: hsl(0, 0%, 26.9%);
  --sidebar-ring: hsl(0, 0%, 43.9%); */
}

@layer base {
  * {
    @apply border-border outline-ring/50 underline-offset-2 min-h-0 font-normal;
    text-box: trim-both cap alphabetic;
    letter-spacing: 0.02em;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes caret-blink {
  0%,
  70%,
  100% {
    opacity: 1;
  }
  20%,
  50% {
    opacity: 0;
  }
}

@utility prose {
  --tw-prose-body: var(--color-primary);
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-bold: var(--color-primary);
  --tw-prose-quote-borders: var(--color-slate-300);
  --tw-prose-quotes: var(--color-muted-foreground);
  --tw-prose-code: var(--color-primary);

  code {
    &::before,
    &::after {
      display : none ;
    }
    text-wrap : nowrap ;
  }

    blockquote {
    font-weight : 400;
  }

  a {
    @apply text-primary font-medium;
  }

  h1 {
    @apply font-bold text-xl;
    color: var(--tw-prose-headings);
  }

  h2 {
    @apply font-bold text-lg;
    color: var(--tw-prose-headings);
  }

  a {
    @apply text-primary hover:underline;
  }

  *{
    @apply mb-6
  }

}
